/* BELOW 2500px (Large desktops) */
@media (1700px <= width <= 2500px) {
  /* VIDEO START */
  .video-text {
    margin-left: 8rem;
    z-index: 1;
  }

  .video-header {
    font-family: "Montserrat";
    font-size: 2rem;
  }

  .video-desc {
    font-family: "Lato";
    font-size: 7rem;
  }
  /* VIDEO END */

  /* COMPANY START */
  .company {
    margin-top: 5rem;
  }

  /* COMPANY END */

  /* OUR PEOPLE START */

  .director-img {
    height: 280px;
    width: 210px;
  }
  /* OUR PEOPLE END */
}

/* BELOW 1350px (Smaller desktops) */
@media (1201px <= width <= 1350px) {
  /* COMPANY START */
  .company-description {
    font-size: 1.4rem;
  }

  .company-img-container {
    max-width: 50rem;
  }

  /* COMPANY END */

  /* IMS START */
  .ims-description {
    font-size: 14px;
  }
  /* IMS END */

  /* WORKPLACE SAFETY START */
  .promise-text {
    font-size: 1.2rem;
  }

  .method-header {
    font-size: 1.4rem;
  }

  .method-text {
    font-size: 1.2rem;
  }
  /* WORKPLACE SAFETY END */

  /* PDPA START */
  .pdpa-text {
    font-size: 1.4rem;
  }
  /* PDPA END */
}

/* BELOW 1200px (Landscape tablets) */
@media (max-width: 1200px) {
  .video-header {
    font-size: 1.4rem;
  }

  .video-desc {
    font-size: 5.2rem;
  }

  /* VIDEO END */

  /* COMPANY START */
  .company-text {
    flex-basis: 100%;
  }
  /* COMPANY END */

  /* IMS START */
  .ims-text {
    flex-basis: 100%;
  }

  .promise-text {
    flex-basis: 100%;
  }
  /* IMS END */
}

/* BELOW 950px (Tablets) */
@media (701px <= width <= 950px) {
  .video-header {
    font-size: 1.4rem;
  }

  .video-desc {
    font-size: 4.8rem;
  }

  .people {
    justify-content: center;
  }

  .dir-one {
    flex-basis: calc(100% / 3);
  }

  .dir-two {
    flex-basis: calc(100% / 3);
    margin-right: auto;
  }

  .dir-three {
    flex-basis: calc(100% / 3);
  }

  .dir-four {
    flex-basis: calc(100% / 3);
  }
}

/* BELOW 700px (Small Tablet) */
@media (max-width: 700px) {
  /* VIDEO START */
  .video-text {
    margin-left: 4rem;
  }

  .video-header {
    font-size: 1rem;
  }

  .video-desc {
    font-size: 4rem;
  }

  /* VIDEO END */

  /* COMPANY START */
  .company-description {
    font-size: 1.4rem;
  }

  /* COMPANY END */

  /* OUR PEOPLE START */
  /* first item will take up the 50% of space,
   then for the other 50%, the second item will 
   be pushed to the right of it */
  .dir-one {
    flex-basis: 50%;
  }

  .dir-two {
    margin-left: auto;
  }

  .dir-three {
    flex-basis: 50%;
  }

  .dir-four {
    margin-left: auto;
  }

  .director-img {
    height: 220px;
    width: 160px;
  }
  .director-info {
    width: 150px;
  }

  /* OUR PEOPLE END */

  /* IMS START */
  .ims-description {
    font-size: 1.4rem;
  }
  /* IMS END */

  /* WORKPLACE SAFETY START */
  .promise-text {
    font-size: 1.2rem;
  }

  .method-header {
    font-size: 1.4rem;
  }

  .method-text {
    font-size: 1.2rem;
  }

  /* WORKPLACE SAFETY END */

  /* PDPA START */
  .pdpa-text {
    font-size: 1.4rem;
  }
  /* PDPA END */

  /* MOBILE NAV START */
  .top {
    padding: 1rem 3rem;
  }

  .nav-menu {
    display: block;
    z-index: 1;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.944);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.5s;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;

    /* position: fixed; */
  }

  /* Hamburger menu open */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .menu-icon[name="menu-close"] {
    display: block;
  }

  .nav-open .menu-icon[name="menu-open"] {
    display: none;
  }
  /*                    */

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.5rem;
  }

  /* MOBILE NAV END */
}

/* Below 500px (Mobile) !Font sizes follow the above 700px screen size!*/
@media (max-width: 500px) {
  /* GENERAL USE START */
  .header {
    font-size: 1.6rem;
  }
  /* GENERAL USE END */

  /* VIDEO START */
  .video-text {
    margin-left: 4rem;
  }

  .video-header {
    font-size: 0.9rem;
  }

  .video-desc {
    font-size: 3rem;
  }

  /* VIDEO END */

  /* OUR COMPANY START */
  .company-description {
    font-size: 1.2rem;
  }
  /* OUR COMPANY END */

  /* OUR PEOPLE START */
  /* .people {
    justify-content: center;
    column-gap: 5rem;
  } */

  .director-img {
    height: 200px;
    width: 150px;
  }

  .director-name {
    font-size: 1.2rem;
  }

  .director-info {
    font-size: 1.2rem;
    width: 140px;
  }

  .dir-one {
    flex-basis: auto;
  }

  .dir-two {
    margin-left: 0;
  }

  .dir-three {
    flex-basis: auto;
  }

  .dir-four {
    margin-left: 0;
  }

  /* OUR PEOPLE END*/

  /* IMS START */
  .ims-description {
    font-size: 1.2rem;
  }

  .method {
    flex: 1 1 100%;
  }

  .cert-container {
    height: 80px;
  }

  /* IMS START */
  .ims-cert {
    width: 100%;
    gap: 4rem;
  }
  /* IMS END */

  /* IMS END */

  /* WORKPLACE SAFETY START */
  .safety-icon {
    height: 30px;
    width: 30px;
    color: green;
  }

  .promise-text {
    padding: 10px 30px;
  }

  /* WORKPLACE SAFETY END */

  /* PDPA START */
  .pdpa-text {
    font-size: 1.2rem;
  }
  /* PDPA END */

  /* MOBILE NAV START */
  .top {
    padding: 1rem 3rem;
  }

  .nav-menu {
    display: block;
    z-index: 1;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.944);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.5s;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;

    /* position: fixed; */
  }

  /* Hamburger menu open */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .menu-icon[name="menu-close"] {
    display: block;
  }

  .nav-open .menu-icon[name="menu-open"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.5rem;
  }

  /* MOBILE NAV END */
}

/* Below 390px (Small Mobile) */
@media (max-width: 390px) {
  /* NAVBAR START */
  .belmacs-logo {
    width: 12.5rem;
    height: 3rem;
  }
  /* NAVBAR END */

  /* OUR PEOPLE START */
  .director-img {
    height: 160px;
    width: 120px;
  }

  .director-name {
    font-size: 1rem;
  }

  .director-info {
    font-size: 1rem;
    width: 100px;
  }

  /* OUR PEOPLE END */

  /* IMS START */

  .ims-cert {
    width: 100%;
    gap: 3rem;
  }
  /* IMS END */

  /* WORKPLACE SAFETY START */
  .promise-text {
    font-size: 1rem;
  }

  .bizsafe {
    width: 80px;
    height: 30px;
  }

  /* WORKPLACE SAFETY END */
}

@media (max-width: 300px) {
  /* OUR COMPANY START */
  .company-description {
    font-size: 1rem;
    line-height: 2rem;
  }
  /* OUR COMPANY END */

  /* OUR PEOPLE START */

  .director-img {
    height: 140px;
    width: 110px;
  }

  .director-name {
    font-size: 1rem;
  }

  .director-info {
    font-size: 1rem;
    width: 100px;
  }

  /* OUR PEOPLE END */

  /* IMS START */
  .ims-description {
    line-height: 2rem;
    font-size: 1rem;
  }

  .ims-cert {
    gap: 4rem;
  }

  .cert-container {
    height: 60px;
  }
  /* IMS END */

  /* WORKPLACE SAFETY START */
  .promise-text {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .bizsafe {
    width: 60px;
    height: 20px;
  }

  .method-header {
    font-size: 1.2rem;
  }

  .method-text {
    font-size: 1rem;
  }
  /* WORKPLACE SAFETY END */

  /* PDPA START */
  .pdpa-text {
    font-size: 1rem;
  }
  /* PDPA END */
}
